<ion-header class="ion-no-border" mode="md" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate('Detalle Código Boleta de Transporte: ')}} {{codigo_boleta}}</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding">



  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-label>
  </ion-item>




  <div class="item-list" *ngIf="services?.length != 0">
    <ion-item lines="none">
      <ion-label>
        <h2 class="store-name">{{util.translate('Detalle Código Boleta de Transporte: ')}} {{codigo_boleta}}</h2>
        <h2 class="store-address">{{util.translate('Comentario: ')}} {{comentario}}</h2>
        <h2 class="store-address">{{util.translate('Peso Sistema : ')}} {{pesoo_sap}} {{AB}}</h2>
        <h2 class="store-address">{{util.translate('Peso Balanza : ')}} {{pesoo_balanza_neto}} {{AB}}</h2>
      </ion-label>
    </ion-item>

    <ion-card class="item-content" *ngFor="let item of services" mode="ios">
      <ion-row style="padding: 0px !important;">
        <ion-col size="3" class="image-content">
          <div
            [ngStyle]="{'background-image':'url('+api.mediaURL+'ICON.png'+'),url(assets/imgs/placeholder.jpeg)'}" class="item-imagee">
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-label class="item-name"> {{util.translate("Detalle")}} : {{item.Descripcion}} </ion-label>
          <br/>
          <ion-label class="item-price"> {{util.translate("Cantidad")}} : {{item.Cantidad}} {{AB}}</ion-label>
          <br/>
        
        </ion-col>
        <ion-col size="3">


          <div class="quantity" style="float: right;" *ngIf="tipo_personaa == 3"  >
            <ion-checkbox slot="end" mode="md"   id={{item.Id}}  [checked]="util.select_boleta_transporte.includes(item.Id)" (ionChange)="checkChange($event,item.Id,item.IdMercaderia,1)" ></ion-checkbox> 
          </div>


        </ion-col>
      </ion-row>
    </ion-card>
  </div>




  <div *ngIf="services?.length == 0" class="no-data">
        <div [ngStyle]="{'background-image':'url(assets/imgs/no_data.png)'}" class="no-data-image"></div>
        <ion-label class="title">{{util.translate('No hay Datos')}} </ion-label>
  </div>


  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"   *ngIf="this.util.select_boleta_transporte.length ==  this.services?.length">
    <ion-fab-button (click)="onSave()" >
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>




</ion-content>